blockquote {
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background: var(--bg-background-secondary);
    color: var(--text-copy-secondary);
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    cursor: pointer;
}