@tailwind base;

@tailwind components;


@font-face {
  font-family: 'alegreyaregular';
  src: url('../fonts/alegreya-regular-webfont.woff2') format('woff2'),
       url('../fonts/alegreya-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreya_scregular';
  src: url('../fonts/alegreyasc-regular-webfont.woff2') format('woff2'),
       url('../fonts/alegreyasc-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreya_sansregular';
  src: url('../fonts/alegreyasans-regular-webfont.woff2') format('woff2'),
       url('../fonts/alegreyasans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreya_sans_scregular';
  src: url('../fonts/alegreyasanssc-regular-webfont.woff2') format('woff2'),
       url('../fonts/alegreyasanssc-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'fira_coderegular';
  src: url('../fonts/firacode-regular-webfont.woff2') format('woff2'),
       url('../fonts/firacode-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'hackregular';
  src: url('../fonts/hack-regular-webfont.woff2') format('woff2'),
       url('../fonts/hack-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'quicksandregular';
  src: url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
       url('../fonts/quicksand-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind utilities;

.theme-light {
  --bg-background-primary: white;
  --bg-background-secondary: #edf2f7;
  --bg-background-tertiary: #cbd5e0;

  --bg-background-form: white;

  --text-copy-primary: #2d3748;
  --text-copy-secondary: #4a5568;

  --border-border-color-primary: white;
}

.theme-dark {
  --bg-background-primary: #1a202c;
  --bg-background-secondary: #2d3748;
  --bg-background-tertiary: #4a5568;

  --bg-background-form: #1a202c;

  --text-copy-primary: #cbd5e0;
  --text-copy-secondary: #e2e8f0;

  --border-border-color-primary:  #1a202c;
}